form#search input[type="text"] {
  height: 38px;
  border-radius: 4px;
  border: 1px solid #ddd;
  padding: 0 20px;
  font-size: 14px;
}

form#search button {
  padding: 10px 20px;
  border-radius: 4px;
  border: 0;
  background: crimson;
  color: #fff;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
}
