header#main-header {
  background: red;
  height: 140px;
  border-bottom: 1px solid #dddddd;
}

header#main-header .header-content {
  width: 100%;
  max-width: 980px;
  margin: 0 auto;
  height: 140px;
  padding: 0 30px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

header#main-header .header-content ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

header#main-header .header-content ul li {
  display: inline;
  margin: 0;
  padding: 20px;
}
